* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f2b40e;
}

#title{
    position: absolute;
    left: 2vw;
    top: 2vh;
}

#instructions{
    margin-top: 2vw;
    font-size: 13px;
    color: #636363;
}

h5{
    color: #636363;
    font-weight: 200;
}
h5 span{
    color: #ff4444;
}

h5 i {
    color: #dad8d8;
    font-style: normal;
}

#clientsConnected {
    z-index: 999;
    padding: 0;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

#video {
    position: absolute;
    bottom: 2px;
    right: 10px;
    float: left;
    z-index: 50;
}


#webglCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

#faceCanvas {
    position: absolute;
    bottom: 2px;
    right: 10px;
    z-index: 100;
}