* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

#clientsConnected {
    z-index: 999;
    padding: 0;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

#video {
    position: absolute;
    bottom: 2px;
    right: 10px;
    float: left;
    z-index: 50;
}


#webglCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

#faceCanvas {
    position: absolute;
    bottom: 2px;
    right: 10px;
    z-index: 100;
}